In [60]:
import pandas as pd
filename = r"D:\DATAS\free-zipcode-database-Primary (1).csv"
zipcodeDetails = pd.read_csv(filename)
zipcodeDetails.head()

,ZIPCODE,ZipCodeType,City,State,LocationType,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,705,STANDARD,AIBONITO,PR,PRIMARY,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,610,STANDARD,ANASCO,PR,PRIMARY,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,611,PO BOX,ANGELES,PR,PRIMARY,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,612,STANDARD,ARECIBO,PR,PRIMARY,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,601,STANDARD,ADJUNTAS,PR,PRIMARY,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN

In [61]:
del zipcodeDetails['LocationType']

In [62]:
zipcodeDetails.head()

,ZIPCODE,ZipCodeType,City,State,Lat,Long,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages
0,705,STANDARD,AIBONITO,PR,18.14,-66.26,NA-US-PR-AIBONITO,False,NaN,NaN,NaN
1,610,STANDARD,ANASCO,PR,18.28,-67.14,NA-US-PR-ANASCO,False,NaN,NaN,NaN
2,611,PO BOX,ANGELES,PR,18.28,-66.79,NA-US-PR-ANGELES,False,NaN,NaN,NaN
3,612,STANDARD,ARECIBO,PR,18.45,-66.73,NA-US-PR-ARECIBO,False,NaN,NaN,NaN
4,601,STANDARD,ADJUNTAS,PR,18.16,-66.72,NA-US-PR-ADJUNTAS,False,NaN,NaN,NaN

In [63]:
del zipcodeDetails['Location']
del zipcodeDetails['Decommisioned']
del zipcodeDetails['TaxReturnsFiled']
del zipcodeDetails['EstimatedPopulation']
del zipcodeDetails['TotalWages']

In [64]:
zipcodeDetails.head()

   ZIPCODE ZipCodeType      City State    Lat   Long
0      705    STANDARD  AIBONITO    PR  18.14 -66.26
1      610    STANDARD    ANASCO    PR  18.28 -67.14
2      611      PO BOX   ANGELES    PR  18.28 -66.79
3      612    STANDARD   ARECIBO    PR  18.45 -66.73
4      601    STANDARD  ADJUNTAS    PR  18.16 -66.72

In [65]:
del zipcodeDetails['Lat']
del zipcodeDetails['Long']

In [66]:
zipcodeDetails.head()

   ZIPCODE ZipCodeType      City State
0      705    STANDARD  AIBONITO    PR
1      610    STANDARD    ANASCO    PR
2      611      PO BOX   ANGELES    PR
3      612    STANDARD   ARECIBO    PR
4      601    STANDARD  ADJUNTAS    PR

In [149]:
filename = r"C:\Users\Sureya Pragaash\Desktop\Project MRCK\Data for EDA\Movielens\ml-100k\u.user"
userData = pd.read_csv(filename,delimiter = "\t")
userData.head()

   USER ID  AGE GENDER OCCUPATION  ZIPCODE
0        1   24      M  technician   85711
1        2   53      F       other   94043
2        3   23      M      writer   32067
3        4   24      M  technician   43537
4        5   33      F       other   15213

In [101]:
del userData['GENDER']

In [150]:
userData['OCCUPATION']

KeyError: 'OCCUPATION'

In [102]:
del userData['AGE']

In [103]:
userData.head()

   USER ID OCCUPATION  ZIPCODE
0        1  technician   85711
1        2       other   94043
2        3      writer   32067
3        4  technician   43537
4        5       other   15213

In [108]:
userData.drop('OCCUPATION')

KeyError: "['OCCUPATION'] not found in axis"

In [109]:
zipcodeDetails.dtypes

ZIPCODE        object
ZipCodeType    object
City           object
State          object
dtype: object

In [110]:
userData.dtypes

USER ID         int64
OCCUPATION     object
ZIPCODE        object
dtype: object

In [111]:
import numpy as np
#list = list()
series = pd.Series(zipcodeDetails['ZIPCODE'])
seriesofTypeint64 = (series.astype(str))
zipcodeDetails['ZIPCODE'] = seriesofTypeint64
zipcodeDetails['ZIPCODE']

0          705
1          610
2          611
3          612
4          601
5          631
6          602
7          603
8          604
9          605
10         703
11         704
12        7675
13        7677
14        7885
15        7981
16        7999
17        8888
18        8889
19        7095
20        7481
21       10451
22       10452
23       10453
24       10454
25       10455
26       10456
27       10457
28       10458
29       10459
         ...
42492    97372
42493    97425
42494    97427
42495    97428
42496    97472
42497    97482
42498    98054
42499    98151
42500    98171
42501    98184
42502    98442
42503    98450
42504    98455
42505    98460
42506    98477
42507    98492
42508    98667
42509    98929
42510    99165
42511    99779
42512     9300
42513     9303
42514     9379
42515    96400
42516    96547
42517    34009
42518    34010
42519    34001
42520    34071
42521    97475
Name: ZIPCODE, Length: 42522, dtype: object

In [112]:
userData.dtypes

USER ID         int64
OCCUPATION     object
ZIPCODE        object
dtype: object

In [113]:
zipcodeDetails.dtypes

ZIPCODE        object
ZipCodeType    object
City           object
State          object
dtype: object

In [114]:
mergedFile = userData.merge(zipcodeDetails, on='ZIPCODE')
mergedFile.head()

   USER ID OCCUPATION  ZIPCODE ZipCodeType           City State
0        1  technician   85711    STANDARD         TUCSON    AZ
1      415    educator   85711    STANDARD         TUCSON    AZ
2        2       other   94043    STANDARD  MOUNTAIN VIEW    CA
3       29  programmer   94043    STANDARD  MOUNTAIN VIEW    CA
4      105    engineer   94043    STANDARD  MOUNTAIN VIEW    CA

In [115]:
del mergedFile['ZipCodeType']

In [116]:
mergedFile.head()

   USER ID OCCUPATION  ZIPCODE           City State
0        1  technician   85711         TUCSON    AZ
1      415    educator   85711         TUCSON    AZ
2        2       other   94043  MOUNTAIN VIEW    CA
3       29  programmer   94043  MOUNTAIN VIEW    CA
4      105    engineer   94043  MOUNTAIN VIEW    CA

In [148]:
filename = r"C:\Users\Sureya Pragaash\Downloads\Data for EDA\Movielens\ml-100k\u.user"
userDetails12 = pd.read_csv(filename,delimiter = "\t")
userDetails12.head()
userDetails12['OCCUPATION']

KeyError: 'OCCUPATION'

In [128]:
#mergedFile1 = mergedFile.merge(userDetails1, on='USER ID')
#mergedFile1.head()
mergedFile1 = pd.merge(userDetails1,mergedFile,on='USER ID')
mergedFile1.head()

,USER ID,item id,ratings,timestamp,OCCUPATION,ZIPCODE,City,State
0,196,242,3,881250949,writer,55105,SAINT PAUL,MN
1,196,393,4,881251863,writer,55105,SAINT PAUL,MN
2,196,381,4,881251728,writer,55105,SAINT PAUL,MN
3,196,251,3,881251274,writer,55105,SAINT PAUL,MN
4,196,655,5,881251793,writer,55105,SAINT PAUL,MN

In [141]:
 mergedFile1['USER ID']

0        196
1        196
2        196
3        196
4        196
5        196
6        196
7        196
8        196
9        196
10       196
11       196
12       196
13       196
14       196
15       196
16       196
17       196
18       196
19       196
20       196
21       196
22       196
23       196
24       196
25       196
26       196
27       196
28       196
29       196
        ...
95636    920
95637    920
95638    920
95639    920
95640    920
95641    920
95642    920
95643    920
95644    941
95645    941
95646    941
95647    941
95648    941
95649    941
95650    941
95651    941
95652    941
95653    941
95654    941
95655    941
95656    941
95657    941
95658    941
95659    941
95660    941
95661    941
95662    941
95663    941
95664    941
95665    941
Name: USER ID, Length: 95666, dtype: int64

In [43]:
filename1 = r"D:\DATAS\U_ITEM 1.csv"
#col = ['']
itemFile = pd.read_csv(filename1,  encoding ='latin-1')
itemFile.head()

,item id,MOVIE TITTLE,VIDEO RELEASE DATE,UNKOWN,ACTION,ADVENTURE,ANIMATION,CHILDREN,COMEDY,CRIME,...,FANTASY,FILM NOIR,HORROR,MUSICAL,MYSTERY,ROMANCE,SCIFI,THIRILLER,WAR,WESTERN
0,1,Toy Story (1995),01-Jan-95,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-95,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-95,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-95,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-95,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [130]:
mergedFile1.dtypes

USER ID         int64
item id         int64
ratings         int64
timestamp       int64
OCCUPATION     object
ZIPCODE        object
City           object
State          object
dtype: object

In [131]:
itemFile.dtypes

item id                int64
MOVIE TITTLE          object
VIDEO RELEASE DATE    object
UNKOWN                 int64
ACTION                 int64
ADVENTURE              int64
ANIMATION              int64
CHILDREN               int64
COMEDY                 int64
CRIME                  int64
DOCUMENTRY             int64
DRAMA                  int64
FANTASY                int64
FILM NOIR              int64
HORROR                 int64
MUSICAL                int64
MYSTERY                int64
ROMANCE                int64
SCIFI                  int64
THIRILLER              int64
WAR                    int64
WESTERN                int64
dtype: object

In [134]:
#mergedFile12 = pd.merge(mergedFile1,itemFile,on ="item id")
#mergedFile12.head()
#mergedFile1['item id']
itemFile['item id']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
1652    1653
1653    1654
1654    1655
1655    1656
1656    1657
1657    1658
1658    1659
1659    1660
1660    1661
1661    1662
1662    1663
1663    1664
1664    1665
1665    1666
1666    1667
1667    1668
1668    1669
1669    1670
1670    1671
1671    1672
1672    1673
1673    1674
1674    1675
1675    1676
1676    1677
1677    1678
1678    1679
1679    1680
1680    1681
1681    1682
Name: item id, Length: 1682, dtype: int64

In [37]:
mergedFile1.head()

,USER ID,AGE,GENDER,OCCUPATION,ZIPCODE,City,State,item id,ratings,timestamp
0,1,24,M,technician,85711,TUCSON,AZ,61,4,878542420
1,1,24,M,technician,85711,TUCSON,AZ,189,3,888732928
2,1,24,M,technician,85711,TUCSON,AZ,33,4,878542699
3,1,24,M,technician,85711,TUCSON,AZ,160,4,875072547
4,1,24,M,technician,85711,TUCSON,AZ,20,4,887431883

In [57]:
mergedFile1.dtypes

USER ID         int64
item id         int64
ratings         int64
timestamp       int64
AGE             int64
GENDER         object
OCCUPATION     object
ZIPCODE        object
City           object
State          object
dtype: object

In [59]:
mergedFile1['item id']

KeyError: 'item id'